body{
background-color: rgb(36, 85, 13);
color:white;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
}
button{
background-color: rgb(95, 121, 24);
color:rgb(27, 71, 18)
font-family: "Bai Jamjuree", sans-serif;

}